mat-dialog-content > div {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

mat-dialog-actions {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

mat-form-field {
    width: 220px;
}

.dialogButtons {
    border: 1px solid #686868;
}

#emailField, #birthdateField {
    width: 100%;
}