<div class="listContainer">
    <mat-card>
        <mat-card-content>
            <table class="userTable">
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Brithdate</th>
                    <th>Address</th>
                    <th>ZIP Code</th>
                    <th>City</th>
                </tr>
                <tr *ngFor="let user of allUsers">
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birthDate }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.zipCode }}</td>
                    <td>{{ user.city }}</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
        
</div>

<button (click)="openDialog()" matTooltip="Add user" [matTooltipPosition]="'above'" class="addUserButton" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>